@font-face {
  font-family: "DS-Digital";
  font-style: normal;
  font-weight: normal;
  src: local("DS-Digital Regular"), url("DS-DIGI.TTF");
}

@font-face {
  font-family: "DS-Digital";
  font-style: normal;
  font-weight: bold;
  src: local("DS-Digital Bold"), url("DS-DIGIB.TTF");
}

@font-face {
  font-family: "DS-Digital";
  font-style: italic;
  font-weight: normal;
  src: local("DS-Digital Italic"), url("DS-DIGII.TTF");
}

@font-face {
  font-family: "DS-Digital";
  font-style: italic;
  font-weight: bold;
  src: local("DS-Digital Italic Bold"), url("DS-DIGIT.TTF");
}
