.panel-timer-slide {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  .range-slider {
    display: flex;
    position: relative;
    width: 100%;
    height: 6px;
    margin: 10px 0;
    > .slider-track {
      position: absolute;
      background-color: $gray-light;
      border-radius: 10px;
      border-bottom: 2px solid $gray-lighter;
      margin-bottom: -4px;
      box-shadow: inset 0px 0px 5px 2px $black;
      width: 100%;
      height: 100%;
      overflow: hidden;
      > .slider-progress {
        position: absolute;
        background-color: $cyan;
        height: 100%;
      }
    }
  }
  .slider-range {
    appearance: none;
    outline: none;
    border: none;
    background-color: transparent;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
    &::-webkit-slider-thumb {
      appearance: none;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      background: conic-gradient(
        $gray,
        $white,
        $gray-light,
        $white,
        $gray,
        $white,
        $gray-light,
        $gray
      );
      filter: contrast(20%) brightness(180%) drop-shadow(0px 1px 2px black);
    }
  }

  .slider-bars {
    height: 10px;
    display: flex;
    justify-content: space-between;
    .slider-bar {
      background-color: $white;
      opacity: 0.3;
      width: 1px;
      height: 70%;
      margin: 0 1px;
      box-sizing: border-box;
      &.small {
        height: 30%;
      }
    }
  }
}
